@import '../helps/base.less';

.container {
    flex: 1;
    flex-direction: column;
    background: #fff;
    display: flex;
}

.contentContainer {
    padding: .2rem;
}
.inputWrap {
    margin-top: .2rem;
    .borBot();
}
.confimBtnWrap {
    padding: .2rem .3rem;
}
