.container {
    margin: 0 10px;
    padding-bottom: 10px;
}
.inputContainer {
    border-top: 1px solid #dedede;
    padding: 10px 0;
}

.inputLabel {
    padding-right: 3px;
}

.canCashTip {
    padding: 10px 0px;
}

.cashTip {
    color: red;
    padding-left: 0px;
}

.selectItemPicker {
    flex: 1;
}
.bankSelect {
    font-size: 20px;
    margin-left: 10px;
    width: 70%;
}

.select {
    font-size: 20px;
    margin-left: 10px;
    width: 90%;
    margin-top: 10px;
}

.tip {
    color: #999;
    font-size: 12px;
    text-align: right;
    padding-top: 6px;
}
