.payTitle {
    color: #999;
    line-height: .8rem;
    padding-left: .2rem;
}
.goodsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0.2rem;
}
.goodsWrap {
    margin-bottom: .2rem;
    margin-right: .2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #187ef2;
    border-radius: 3px;
}
.goodInfo {
    color: #187ef2;
}

.payIcon {
    width: 0.36rem;
    height: 0.36rem;
    margin-right: 0.18rem;
    display: block;
}

.payBtn {
    flex: 1;
    margin-left: 0.1rem;
    margin-top: 10px;
    width: 100%;
}

.btnWrap {
    align-self: stretch;
    padding:0 16px;
    
}

.goodsImg {
    width: 84px;
    height: 56px;
    display: block;
}

.payTypeContainer {
    background: #fff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.payTypeTitle {
    padding: 0.1rem 0.2rem;
}

.paySelectItem {
    height: .8rem;
    background: #fff;
    border-top: 1px solid #dedede;
}

.payWrap {
    background: #fff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 0rem 0 0.2rem;
}

.balanceTip {
    color: #f0602d;
    font-size: 0.26rem;
    padding-left: 0.1rem;
}
