@import "../../base/less/base.less";
.payWrap {
  padding-top: .1rem;
}
.payTitle {
    color: #999;
    line-height: .8rem;
    padding-left: .2rem;
}
.goodsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.goodsWrap {
    margin-bottom: .2rem;
    margin-right: .2rem;
    padding: 0.2rem .1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    .borTop();
    background: #fff;
    position: relative;
}

.goodsCheap::after {
    content: '';
    position: absolute;
    width: .44rem;
    height: .44rem;
    background: url("../../assets/xsyh.png") no-repeat;
    background-size: .44rem .44rem;
    top: 0rem;
    right: 0rem;
}
.goodsSelect {
    color: #fff;
    background: @baseColor;
}

.goodPrice {
    font-size: 0.24rem;
}
.payTip {
    color: #fda523;
    text-align: center;
    line-height: .6rem;
    // height: .6rem;
    padding: 0.2rem .3rem 0;
}

.payBtn {
  margin-top: .15rem;
}


.listWrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.rowItem {
    padding: .1rem 0 .1rem 0.2rem;
    .flexRow(space-between);
    .borBot();
}

