@import "../../base/less/base.less";

.contentContainer {
  justify-content: center;
}
.contentWrap {
  padding: 0 .8rem;
  text-align: center;
}
.failLabel {
  padding: .2rem 0 .3rem;
}
.failTip {
  font-size: .28rem;
  color: @gray;
  padding-bottom: .3rem;
}
