@import "../../helps/base.less";

.cashBtn {
    width: 100%;
    flex: 1;
    display: block;
    margin: 15px 15px;
}

.countTip {
    text-align: center;
    padding-right: 0.1rem;
    color: #ababab;
    font-size: 0.26rem;
}

.inputRowItem {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.itemWrap {
    background: #fff;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    min-height: 0.8rem;
}

.selectTitle {
    width: 1.5rem;
}

.selectLabel {
    padding-right: 0.3rem;
}

.itemCashWrap {
    background: #fff;
    padding: 0.3rem;
}

.tip {
    color: #999;
}

.moenyPreLabel {
    color: #000;
    font-size: 0.32rem;
}

.moneyCount {
    padding: 0 0.1rem;
    color: #ff9500;
}

.listWrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 1rem;
}


.recordHeader {
    background: #fff;
    padding: .2rem;
    .borBot();
}

.itemWrap {
    .flexRow(space-between);
    .borBot();
    padding: 0.1rem .2rem;
    background: #fff;
}

.timeLabel {
    font-size: .26rem;
    color: @gray;
    padding-top: .1rem;
}
.orderStatuWrap {
    
}
.success {
    color: rgb(7, 131, 7);
}
.fail {
    color: rgb(254, 13, 13);
}

.fkh {
    color: #333;
}

.tableContainer {
    .borTop();
}