.container {
    min-height: 100%;
}

.inputContainer {
    margin-top: 12px;
}

.inputWrap {
    background: #fff;
}

.editBtnWrap {
    padding: 0.4rem 0.6rem;
}

.editBtn {
    width: 100%;
    display: block;
    margin-top: 8px;
}
