@import '../../helps/base.less';
.container {
    min-height: 100%;
    background: @bgColor;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.logoWrap {
    margin: 0px auto 0px;
    padding-top: .4rem;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: block;
    vertical-align: middle;
}
/* @media screen and (max-width: 768px) {
    .logo {
        width: 38px;
        height: 26px;
        display: inline-block;
    }
} */
.loginInput {
    margin-top: 12px;
}

.logoTitle {
    font-size: .44rem;
    padding: .3rem 0;
    font-weight: 600;
}

.loginBtn {
    display: block;
    width: 100%;
}

.inputWrap {
    background: #fff;
    border-radius: 5px;
    margin: 0rem 0 0;
    .borBot();
}

.contentContainer {
    margin: 0 0.22rem;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerTip {
    font-size: 0.28rem;
    color: #9c9c9c;
    margin-top: 0.6rem;
    text-align: center;
}

.registerLabel {
    color: #333;
    font-size: .32rem;
}

.forgetPwdWrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: .2rem;
    color: @gray;
    font-size: .3rem;
}

.wechatLoginWrap {
    .flexRow(center);
    align-items: center;
    padding-bottom: 1rem;
    
}
.wxLoginIcon {
    padding: .2rem 0 .1rem;
    width: .8rem;
    height: 1rem;
    display: block;
}
.wechatLogin {
    .border(#000);
    .flexRow();
    padding: 0 .2rem;
    border-radius: 5px;
    box-shadow:  2px 2px 3px rgba(0, 0, 0, .5);
}

.wechatLoginLabel {
    color: #000;
    padding-left: .2rem;
}
