.container {
    background: #fff;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.rechargeBtn {
    background: #1e7df1;
    padding: 2px 12px;
    color: #dfe9fc;
    border-radius: 3px;
}
