.container {
    background: #fff;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.input {
    width: 30px;
    height: 20px;
}

.footerItem {
    padding: 0 6px;
    cursor: pointer;
}
