
.itemWrap {
    border: 1px solid #dedede;
    padding: 10px 10px;
}

.link {
    border: 1px solid #dedede;
    padding: 10px 10px;
    color: #0E90D2;
}

.tip {
    color: red;
    text-indent: 10px;
    font-size: 14px;
    padding: 8px 6px;
}

.buttonItemWrap {
    padding: 10px 0px;
    display: flex;
    margin-left: 20px;
    justify-content: left;
}
.linkBtn {
    margin-right: 20px;
}


.linkText {
    color: #3EC0F8;
    max-width: 80%;
    white-space: normal;
    word-break: break-all;
    /* white-space:  */
}

.linkInfoWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.linkBtn {
    margin-left: 10px;
}
