@import "../../base/less/base.less";

.headerWrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #fff;
  padding: .15rem .2rem;
  border-radius: 3px;
}

.monthRebateTip {
  font-size: .3rem;
  padding-bottom: .2rem;
  color: @greenTip;
}

.rebateLabel {
  color: @moneyColor;
  font-size: .42rem;
  line-height: .8rem;
}
.rebateTipAss {
  color: @gray;
  font-size: .28rem;
}
.rebateTip {
  color: @greenTip;
  font-size: .3rem;
}

.headerRightWrap {

}
.monthTip {
  line-height: .7rem;
  font-size: .28rem;
  color: #fff;
  .flexRow();
}

.rebateInfo {
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .borTop();

}
.rebateInfoItem {
  width: 50%;
  .borRig();
  .borBot();
  padding: .2rem;
  text-align: center;
}
.rebateMoneyTip {
  color: @moneyColor;
}
.rebateTitleTip {
  font-size: .28rem;
  padding-top: .2rem;
  color: @greenTip;
}
.rebateTip2 {
  color: @gray;
  font-size: .28rem;
  padding-top: .2rem;
}
.rowItem {
  .flexRow();
}

.colItem {
  flex: 1;
  font-size: .3rem;
  padding: .16rem 0;
  padding: .1rem .18rem;
  text-align: center;
}

.userRebateTipWrap {
  padding: .2rem;
}

.userRebateTip {
  font-size: .28rem;
  color: @red;
}

.colcountItem {
  color: @moneyColor;
  // padding: .2rem 0;
}
.rowBodyItem {
  overflow: hidden;
}
.rebateListTitle {
  padding: .2rem .2rem;
  background: #fff;
  // font-size: .28rem;
  .borBot();
  color: @greenTip;
}

.count {
  color: @moneyColor;
}

.rebateList {
  background: #fff;
}
.rebateListRowItem {
  .borBot();
  padding: .1rem 0;
}
.rebateListRowList {
  .borBot();
}

.rebatePageWrap {
  .flexRow(space-between);
  background: @bgColor;
  padding: .1rem .2rem;
  background: #fff;
}
.pageBtnWrap {
  .flexRow();
}
.pageBtn {
  margin-right: .1rem;
}
.rebateStatuWrap {
  padding-bottom: .2rem;
  font-size: .3rem;
}
.rebateTitle {
  color: @red;
  padding: .1rem .2rem;
}
.rebateStatu {
  padding: .1rem .2rem;
  line-height: .38rem;
}
.rebateImporLabel {
  color: @red;
}

.assTip {
  color: @gray;
}

.rebateHtmlTextWrap {
  padding: .1rem .2rem;
}

.tableWrap {
  margin: 0 .2rem .2rem;
  background: #fff;
  .borTop();
  .borLef();
}
.tableRow {
  .flexRow();
}
.tableCol {
  flex: 1;
  text-align: center;
  padding: .1rem 0;
  .borRig();
  .borBot();
}
.titleItem {
  .flexRow();
  padding: .3rem .2rem .15rem;
}
.titleIcon {
  width: .35rem;
  height: .35rem;
  margin-right: .15rem;
}

.count {
  color: @moneyColor;
}
.rabatePageCount {
  color: @gray;
}
