@import "../../base/less/base.less";

.headerWrap {
  background: @baseColor;
}

.rebateAddedMoney {
  color: #fff;
  font-size: .36rem;
  text-align: center;
}
.headerLabelTip {
  color: #fff;
  font-size: .28rem;
  text-align: center;
  padding: .2rem 0;
}
.rebateAddedInfo {
  .flexRow();
  background: #15b1d9;
  color: #fff;
  text-align: center;
  padding: .2rem 0;
}

.rebateInfoItem {
  flex: 1;
}

.rebateInfoTip {
  padding-top: .1rem;
  font-size: .28rem;
}
.rebateAddedRecordTitleWrap {
  font-size: .32rem;
  padding: .15rem .2rem;
}

.rebateAddedRecordInfoWrap {
  background: #fff;
  text-align: center;
  padding: .5rem 0;
}

.rebateAddedRecordInfoTip {
  color: @gray;
  font-size: .28rem;
}
.recordItemWrap {
  .flexRow();
}
.recordItem {
  width: 25%;
  padding: .1rem 0;
  text-align: center;
  background: #fff;
}
.recordItemEvent {
  background: #f2f2f2;
}

.recordNoDataTip {
  text-align: center;
  padding: .2rem;
}

.pageControllerWrap {
  padding-top: .2rem;
  .flexRow(flex-end);
}

.pageController {
  background: #fff;
  padding: .1rem;
  margin-right: .2rem;
  border-radius: 3px;
  font-size: .28rem;
}
