@bgColor: #f5f5f5;
@gray: #b8b8b8;
@borderColor: #eee;
@baseColor: #295bac;
@countAdd: #017f01;
@red: #db344a;
@countSub: #db344a;
@moneyColor: #e89722;

.textHide() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flexRow(@justify: flex-start) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: @justify;
}
.rowItem () {
    .flexRow(space-between);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background: #fff;
}
.border() {
    border: 1px solid @borderColor;
}
.borLef() {
    border-left: 1px solid @borderColor;
}
.borTop() {
    border-top: 1px solid @borderColor;
}
.borRig() {
    border-right: 1px solid @borderColor;
}
.borBot() {
    border-bottom: 1px solid @borderColor;
}